.dark-theme {
  --color-blue: hsl(0, 0%, 100%);
  --color-dark-blue--1: hsl(207, 26%, 17%);
  --color-dark-blue--2: hsl(0, 0%, 100%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-gray: hsl(209, 23%, 22%);
  --color-light-gray: hsl(207, 26%, 17%);
}
